@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  
:root  {
  --background: 249 78% 95%;
  --foreground: 249 5% 0%;
  --card: 249 50% 90%;
  --card-foreground: 249 5% 10%;
  --popover: 249 78% 95%;
  --popover-foreground: 249 95% 0%;
  --primary: 249 49% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 249 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 211 30% 85%;
  --muted-foreground: 249 5% 35%;
  --accent: 211 30% 80%;
  --accent-foreground: 249 5% 10%;
  --destructive: 0 78% 30%;
  --destructive-foreground: 249 5% 90%;
  --border: 249 30% 50%;
  --input: 249 30% 18%;
  --ring: 249 49% 53%;
  --radius: 0.5rem;
}
.dark  {
  --background: 249 50% 5%;
  --foreground: 249 5% 90%;
  --card: 249 50% 0%;
  --card-foreground: 249 5% 90%;
  --popover: 249 50% 5%;
  --popover-foreground: 249 5% 90%;
  --primary: 249 49% 53%;
  --primary-foreground: 0 0% 100%;
  --secondary: 249 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 211 30% 15%;
  --muted-foreground: 249 5% 60%;
  --accent: 211 30% 15%;
  --accent-foreground: 249 5% 90%;
  --destructive: 0 78% 30%;
  --destructive-foreground: 249 5% 90%;
  --border: 249 30% 18%;
  --input: 249 30% 18%;
  --ring: 249 49% 53%;
  --radius: 0.5rem;
}

}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
